.pagination
	ul.list-number
		.item
			a(href='#')
				| 1
		.item
			a.active(href='#')
				| 2
		.item
			a(href='#')
				| 3
		.item
			a(href='#')
				| 4
		.item
			a(href='#')
				| 5
		.item
			a(href='#')
				| ...
		.item
			a(href='#')
				| 41
