.home-section-1 {
	position: relative;
	background: #F2F2F2;
	padding: 115px 0;
	-webkit-box-shadow: inset -22px -200px 48px -111px rgba(53, 53, 53, 0.2);
	-moz-box-shadow: inset -22px -200px 48px -111px rgba(0, 0, 0, 0.2);
	box-shadow: inset -22px -200px 48px -111px rgba(0, 0, 0, 0.2);

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 721px;
		height: 1247px;
		pointer-events: none;
		background-image: url(../img/bg-before.png);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 678px;
		height: 989px;
		pointer-events: none;
		background-image: url(../img/bg-before.png);
		object-fit: cover;
	}

	.title-main {
		margin: 0 auto;

		figure {
			img {
				max-width: 457px;
				max-height: 111px;
			}

			figcaption {
				h1 {
					font-weight: 900;
					font-size: 95px;
					color: #ED1D24;
				}

				p {
					text-align: center;
					font-size: 24px;
					color: #000000;
				}
			}
		}
	}

	.list-item-about-racetrack {
		display: flex;
		align-items: center;
		margin: 60px 0;

		.item-about-racetrack {
			cursor: pointer;
			z-index: 50;

			&:hover {
				figure {
					transform: scale(1.05);
				}
			}

			figure {
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
				position: relative;
				padding: 10px;
				background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(237, 29, 36, 1));
				transition: .3s all ease-in-out;

				.box-img {
					img {
						width: 100%;
						height: auto;
					}
				}

				figcaption {
					background: rgba(0, 0, 0, .8);
					padding: 15px 23px 72px;
					position: relative;
					height: 400px;

					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-image: url(../img/bg-page.png);
					}

					h5 {
						width: 90%;
						text-align: center;
						margin: 0 auto;
						font-weight: 800;
						font-size: 24px;
						color: #ED1D24;
						margin-bottom: 25px;
					}

					p {
						color: #fff;
						font-size: 18px;

						span {
							color: #ED1D24;
							font-weight: 700;
						}
					}

					.list-info-racetrack {
						font-size: 18px;

						.item {
							position: relative;
							padding-left: 20px;
							color: #fff;

							&::before {
								content: "";
								position: absolute;
								display: block;
								width: 10px;
								height: 10px;
								left: 0;
								top: 8px;
								background: #FFF;
							}
						}
					}
				}
			}
		}
	}

	.description-main {
		display: block;
		width: 100%;

		figure {
			.box-img {
				display: flex;
				justify-content: center;

				img {
					max-width: 800px;
					max-height: 265px;
				}
			}

			figcaption {
				margin-top: 100px;
				color: #000000;

				.box-giaithuong {
					margin-bottom: 35px;

					h4 {
						position: relative;
						font-size: 34px;
						font-weight: 700;
						margin-bottom: 10px;
						padding-left: 30px;

						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 18px;
							height: 18px;
							background: #ED1D24;
							border: 5px solid #e6e6e6;
						}
					}

					h5 {
						font-size: 42px;
						font-weight: 700;

						&.text-red {
							color: #ED1D24;
						}
					}

					&.mb-0 {
						margin-bottom: 0;
					}
				}

				.img-giaithuong {
					display: flex;
					align-items: flex-end;

					img {
						&:first-child {
							height: 320px;
						}

						&:last-child {
							margin-left: auto;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.home-section-1 {
		padding: 45px 20px;

		&:after,
		&:before {
			display: none;
		}

		.title-main {
			figure {
				text-align: center;

				img {
					width: unset;
					height: unset;
					margin-bottom: 20px;
				}

				figcaption {
					h1 {
						font-size: 24px;
						margin-bottom: 10px;
					}

					p {
						font-size: 16px;
					}
				}
			}
		}

		.list-item-about-racetrack {
			.item-about-racetrack {
				padding-bottom: 30px;

				figure {
					figcaption {
						h5 {
							color: #fff;
						}

						p {
							font-size: 16px;
						}

						.list-info-racetrack {
							font-size: 16px;
						}
					}
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		.description-main {
			figure {
				.box-img {
					img {
						max-width: 100%;
					}
				}

				figcaption {
					text-align: center;

					.box-giaithuong {
						margin-bottom: 20px;

						h4 {
							font-size: 18px;
							margin-bottom: 10px;
						}

						h5 {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 767.98px) {
	.home-section-1 {
		.title-main {
			figure {

				img {
					width: 70%;
					height: 70%;
				}

				figcaption {
					p {
						font-size: 13px;
					}
				}
			}
		}

		.list-item-about-racetrack {
			.item-about-racetrack {

				figure {
					figcaption {
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}