section.home-section-1
	.container
		.row
			.title-main
				figure
					img(src="./img/home/img-title-main.png", alt="", srcset="")
					figcaption
						h1 ĐƯỜNG ĐUA THỰC,
							br
							| TRẢI NGHIỆM THỰC
			.row.list-item-about-racetrack
				.col-lg-4.item-about-racetrack
					figure
						.box-img
							img(src="./img/home/item-01.png", alt="", srcset="")
						figcaption
							h5 HÀO HỨNG VỚI  ĐƯỜNG ĐUA THỰC
							p Zhuhai là đường đua đạt chuẩn quốc tế tọa lạc tại thành phố Chu Hải, tỉnh Quảng Đông, Trung Quốc
							ul.list-info-racetrack
								li.item 4,319 km
								li.item 14 khúc cua (9 phải, 6 trái)
				.col-lg-4.item-about-racetrack.active
					figure
						.box-img
							img(src="./img/home/item-02.png", alt="", srcset="")
						figcaption
							h5 THĂNG HOA CÙNG TRẢI NGHIỆM THỰC
							p Zhuhai là đường đua đạt chuẩn quốc tế tọa lạc 
								|
								span tại thành phố Chu Hải, tỉnh Quảng Đông, Trung Quốc
							ul.list-info-racetrack
								li.item Tham gia các khóa đào tạo chuyên sâu
								li.item Trải nghiệm trực tiếp đường đua chuẩn quốc tế
				.col-lg-4.item-about-racetrack
					figure
						.box-img
							img(src="./img/home/item-03.png", alt="", srcset="")
						figcaption
							h5 THĂNG HOA CÙNG TRẢI NGHIỆM THỰC
							p Zhuhai là đường đua đạt chuẩn quốc tế tọa lạc tại thành phố Chu Hải, tỉnh Quảng Đông, Trung Quốc
							ul.list-info-racetrack
								li.item 4,319 km
								li.item 14 khúc cua (9 phải, 6 trái)
			.description-main
				figure
					.box-img
						img(src="./img/home/img-description-main.png", alt="", srcset="")
					figcaption
						h3 TRẢI NGHIỆM ĐƯỜNG ĐUA
							br
							| QUỐC TẾ 
							span ZHUHAI VỚI TƯ CÁCH VIP