section.home-section-1#home-section-1
	.container
		.row
			.title-main
				figure
					img(src="./img/home/img-title-main.png", alt="", srcset="")
					figcaption
						h1 HÒA NHỊP ĐAM MÊ
							br
							| CÙNG MOTOGP 2019
						p Cùng Motul trải nghiệm không khí hào hứng của giải đua xe moto hàng đầu thế giới -
							br
							| MotoGP, chính thức diễn ra từ 01/11 - 03/11/2019 tại đường đua Sepang (Malaysia).
			.row.list-item-about-racetrack
				.col-lg-4.col-md-12.item-about-racetrack
					figure
						.box-img
							img(src="./img/home/item-01.png", alt="", srcset="")
						figcaption
							h5 HÀO HỨNG VỚI  ĐƯỜNG ĐUA THỰC
							p Zhuhai là đường đua đạt chuẩn quốc tế tọa lạc tại thành phố Chu Hải, tỉnh Quảng Đông, Trung Quốc
							ul.list-info-racetrack
								li.item 4,319 km
								li.item 14 khúc cua (9 phải, 6 trái)
				.col-lg-4.col-md-12.item-about-racetrack
					figure
						.box-img
							img(src="./img/home/item-02.png", alt="", srcset="")
						figcaption
							h5 THĂNG HOA CÙNG TRẢI NGHIỆM THỰC
							p “Trải nghiệm có một không hai cùng Motul tại trường đua chuẩn quốc tế Zhuhai Trung Quốc”
							ul.list-info-racetrack
								li.item Tham gia các khóa đào tạo chuyên sâu
								li.item Trải nghiệm trực tiếp đường đua chuẩn quốc tế
				.col-lg-4.col-md-12.item-about-racetrack
					figure
						.box-img
							img(src="./img/home/item-03.png", alt="", srcset="")
						figcaption
							h5 THĂNG HOA CÙNG TRẢI NGHIỆM THỰC
							p TỔNG GIÁ TRỊ LÊN ĐẾN 700 TRIỆU Motul sẽ tài trợ cho các khách hàng may mắn nhất tham gia chương trình Motul Driving Experience với tư cách VIP
							ul.list-info-racetrack
								li.item 4,319 km
								li.item 14 khúc cua (9 phải, 6 trái)
			.description-main
				figure
					.box-img
						img(src="./img/home/img-description-main.png", alt="", srcset="")
				.block-giaidacbiet
					h4 1 GIẢI ĐẶC BIỆT
					h5 1 SUẤT VIP ĐƯỢC TRỰC TIẾP THEO DÕI
					h5.text-red CHẶNG ĐUA MOTOGP 2019 – SEPANG (MALAYSIA)
				.img-giaithuong
					figure
						figcaption
							h4 1 GIẢI NHẤT
							h5 1 ĐÔNG HỒ CASIO 
								br
								| G-SHOCK Motul 300V
						.box-img
							img(src="./img/home/giaithuong01.png", alt="", srcset="")
					figure.pl-10
						figcaption
							h4 3 Giải khuyến khích
							h5 3 BỘ QUÀ TẶNG MOTUL
						.box-img
							img(src="./img/home/giaithuong02.png", alt="", srcset="")