header
	.container
		.row.no-gutters
			a(href="index.html")
				figure.logo
					img(src="./img/logo.png", alt="", srcset="")
			.mobile-toggle#mobile-toggle
				.button_toggle
					.line#btn_line1
					.line.line2#btn_line2
					.line#btn_line3
			ul.list-menu
				li.item-menu
					a(href="/#home-section-1") THÔNG TIN TRƯƠNG TRÌNH
				li.item-menu
					a(href="/#home-section-2") THỂ LỆ CUỘC THI
				li.item-menu
					a(href="list-item.html") DANH SÁCH BÀI THAM DỰ
				li.item-menu
					a(href="/#home-section-3") THAM GIA NGAY
