header
	.container
		.row.no-gutters
			a(href="index.html")
				figure.logo
					img(src="./img/logo.png", alt="", srcset="")
			ul.list-menu
				li.item-menu
					a(href="index.html#home-section-1") THÔNG TIN TRƯƠNG TRÌNH
				li.item-menu
					a(href="index.html#home-section-2") THỂ LỆ CUỘC THI
				li.item-menu
					a(href="list-item.html") DANH SÁCH BÀI THAM DỰ
				li.item-menu
					a(href="index.html#home-section-3") THAM GIA NGAY
