html,
body {
    font-family: 'Open Sans', sans-serif;
}

body {
    // padding-top: 90px;

}

a {
    text-decoration: none;
}

ul {
    padding        : 0;
    list-style-type: none;
}

.title {
    margin-bottom: 35px;

    span {
        font-size: 24px;
        color    : #808080;
    }

    h3 {
        font-weight: bold;
        color      : #ED1D24;
        font-size  : 34px;
    }
}