section.home-section-3#home-section-3
	.container
		h3.title THAM GIA TẠI ĐÂY
		.row
			form(action="#")
				.col-lg-6.col-md-12.content-left
					label(for="#") Tải ảnh tại đây*
					img.button-choose-file(src="./img/home/bg-chooes-file.png", alt="", srcset="")
					input#imgInp(type="file")
				.col-lg-6.col-md-12.content-right
					label(for="#") Nhập link video livestream của bạn
					input(type="text" placeholder="Nhập link của bạn...")
					label(for="#") Nhập link video của bạn (*không bắt buộc)
					input(type="text" placeholder="Nhập link của bạn...")
					textarea(name="", cols="30", rows="10" placeholder="Câu chuyện đường đua...")
				.your-info
					h5 THÔNG TIN CỦA BẠN
					.from-register
						.form-group.col-md-6
							input.name(type="text" placeholder="Họ Tên*")
						.form-group.col-md-6
							input.phone-number(type="text" placeholder="Điện thoại*")
							span.error Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic laborum quaerat mollitia amet, facilis deserunt sequi, eum deleniti, molestiae delectus molestias illo iure. Modi harum error corporis atque maxime eos.
						.form-group.col-md-6
							input.name(type="text" placeholder="Tên Xe*")
						.form-group.col-md-6
							input.phone-number(type="text" placeholder="Biển số xe*")
						.form-group.col-12
							input.email(type="text" placeholder="Email")
						.form-group.col-12
							input.address(type="text" placeholder="Địa chỉ")
						.form-group.col-12
							input#checkbox(type="checkbox")
							label(for="checkbox") Tôi đã đọc và hiểu 
								a(data-fancybox data-src="#provision-popup") nội quy của chương trình

						button NỘP BÀI DỰ THI
				#provision-popup
					h5.title-provision ĐIỀU KHOẢN KHI THAM GIA CUỘC THI
					.box-content
						.level-1 I. THÔNG TIN CHUNG
						.level-2 1. Đối tượng tham gia:
						.level-3 Các đối tượng được quyền tham gia:
						.level-4 - Là công dân nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam
						.level-4 - Từ 18 tuổi trở nên, có đầy đủ năng lực hành vi dân sự, sức khỏe tốt
						.level-4 - Hộ chiếu vẫn còn thời gian sử dụng tối thiểu 6 tháng
						.level-3 Các đối tượng không được quyền tham gia:
						.level-4 - Cán bộ, nhân viên của công ty Vilube – Motul
						.level-4 - Đối tác của Motul tham gia thực hiện chương trình
						.level-2 2. Thời gian:
						.level-4 - Thời hạn gửi sản phẩm dự thi & bình chọn trực tuyến: Từ ngày 24/09/2019 đến hết ngày 20/10/2019
						.level-4 - Thời gian Ban giám khảo chấm điểm: Ngày 21/10/2019
						.level-4 - Thời gian công bố kết quả dự kiến: Ngày 23/10/2019
						.level-4 - Kết quả cuộc thi sẽ được thông báo chính thức tại fanpage Motul Vietnam
						.level-1 II. Hệ thống giải thưởng
						.level-4 - 1 Giải đặc biệt: 1 vé đến Sepang (Maylaysia) để trực tiếp theo dõi chặng đua MotoGP 2019 dành cho người chơi có tổng số điểm cao nhất.
						.level-4 - 1 Giải Nhất: 1 đồng hồ Casio G-SHOCK Motul 300V dành cho 1 người chơi có điểm số cao kế tiếp
						.level-4 - 3 Giải khuyến khích: 3 bộ quà tặng Motul dành cho 3 người chơi may mắn nhất (quay số ngẫu nhiên theo thứ tự tham gia mà BTC công bố trước). Bộ quà tặng bao gồm: 1 bình 300V Factory Line, 1 bình Scooter Power LE, C4 Chain Lube Factory Line, 1 túi đeo chéo, 1 nón 300V2.
						.level-4 Lưu ý: Mỗi người chỉ nhận được 1 giải thưởng duy nhất
						.level-1 III HỆ THỐNG THANG ĐIỂM VÀ TIÊU CHÍ CHẤM GIẢI:
						.level-2 1.	Hệ thống thang điểm: Thang điểm cao nhất dành cho bài dự thi là 100 điểm bao gồm các hạng mục sau:
						.level-3 - Phần điểm từ BTC: tối đa 70 điểm
						.level-4 + Nội dung hấp dẫn, thu hút, thể hiện rõ niềm đam mê về xe máy, mô tô: 40 điểm
						.level-4 + Hình thức sáng tạo, mới lạ, thu hút: 30 điểm
						.level-3 - Phần điểm từ bình chọn: tối đa 20 điểm
						.level-4 + 5 người chơi có tổng lượt bình chọn từ vị trí 01 đến 05: 20 điểm
						.level-4 + 10 người chơi có tổng lượt bình chọn từ 06 đến 10: 10 điểm
						.level-3 - Phần điểm cộng thêm: tối đa 10 điểm
						.level-4 + Là fans cứng của fanpage Motul Vietnam: 5 điểm
						.level-4 + Là thành viên của cộng đồng xe máy Motul Powersport: 5 điểm
						.level-2 2.	Tiêu chí chấm giải
						.level-4 - Về nội dung: Ban giám khảo đánh giá cao những bài dự thi có nội dung thể hiện rõ đam mê về xe máy, mô tô với nội dung sáng tạo, hấp dẫn.
						.level-4 - Về hình thức: Bên cạnh việc đảm bảo hình thức như yêu cầu phía trên, Ban giám khảo sẽ ưu tiên các tác phẩm có sự sáng tạo trong hình thức thể hiện về hình ảnh, bố cục, sắp xếp các phân cảnh, âm thanh, nhạc nền và hiệu ứng để thể hiện hiệu quả nhất nội dung của bài dự thi.
						.level-1 IV CÁCH THỨC CÔNG BỐ VÀ TRAO GIẢI:
						.level-4 - BTC sẽ liên hệ trực tiếp với người thắng giải và xác nhận thông tin dự thi để trao giải.
						.level-4 - Trong trường hợp BTC không thể liên hệ với người thắng giải 03 lần, giải thưởng sẽ được thu hồi và BTC toàn quyền quyết định đối với giải thưởng.
						.level-4 - Khi đến nhận thưởng, người nhận giải cần phải xuất trình CMND và thông tin trùng khớp với dữ liệu đã đăng ký tại mẫu đơn của Ban Tổ chức.
						.level-4 - BTC sẽ chịu toàn bộ chi phí chuyển phát quà tặng nếu người thắng giải không thể đến nhận giải trực tiếp.
						.level-4 - Trong trường hợp người thắng giải không tới nhận giải thưởng trực tiếp mà ủy quyền cho người khác thì người được ủy quyền phải có giấy ủy quyền hợp lệ của người đoạt giải. (Giấy ủy quyền được xem là hợp lệ nếu có đầy đủ thông tin về họ tên, số CMND, địa chỉ liên hệ, điện thoại, chữ ký của người ủy quyền và phải được cơ quan địa phương có thẩm quyền xác nhận). Đồng thời, khi đến nhận giải, người ủy quyền cần xuất trình CMND của mình và của người thắng giải cho Ban tổ chức.
					.button-back
						button(data-fancybox-close) QUAY LẠI


