section.home-section-3#home-section-3
	.container
		h3.title THAM GIA TẠI ĐÂY
		.row
			form(action="#")
				.col-lg-6.col-md-12.content-left
					label(for="#") Tải ảnh tại đây*
					img.button-choose-file(src="./img/home/bg-chooes-file.png", alt="", srcset="")
					input#imgInp(type="file")
				.col-lg-6.col-md-12.content-right
					label(for="#") Nhập link video livestream của bạn
					input(type="text" placeholder="Nhập link của bạn...")
					label(for="#") Nhập link video của bạn (*không bắt buộc)
					input(type="text" placeholder="Nhập link của bạn...")
					textarea(name="", cols="30", rows="10" placeholder="Câu chuyện đường đua...")
				.your-info
					h5 THÔNG TIN CỦA BẠN
					.from-register
						.form-group.col-md-6
							input.name(type="text" placeholder="Họ Tên*")
						.form-group.col-md-6
							input.phone-number(type="text" placeholder="Điện thoại*")
							span.error Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic laborum quaerat mollitia amet, facilis deserunt sequi, eum deleniti, molestiae delectus molestias illo iure. Modi harum error corporis atque maxime eos.
						.form-group.col-md-6
							input.name(type="text" placeholder="Tên Xe*")
						.form-group.col-md-6
							input.phone-number(type="text" placeholder="Biển số xe*")
						.form-group.col-12
							input.email(type="text" placeholder="Email")
						.form-group.col-12
							input.address(type="text" placeholder="Địa chỉ")
						.form-group.col-12
							input#checkbox(type="checkbox")
							label(for="checkbox") Tôi đã đọc và hiểu 
								a(data-fancybox data-src="#provision-popup") nội quy của chương trình

						button NỘP BÀI DỰ THI
				#provision-popup
					h5.title-provision ĐIỀU KHOẢN KHI THAM GIA CUỘC THI
					.box-content
						p Chương trình Motul Driving Experience với những TRẢI NGHIỆM THỰC trên ĐƯỜNG ĐUA THỰC sẽ chính thức diễn ra tại Đường đua quốc tế ZhuHai (Châu Hải) – Trung Quốc vào 2 ngày 05&06/09/2019. Nhằm tạo cơ hội để anh em đam mê ô tô được tham gia chương trình đặc biệt này, Motul Vietnam tổ chức cuộc thi “CHIA SẺ HÀNH TRÌNH, NHẬN VÉ ĐẾN ZHUHAI” với những thông tin cụ thể như sau:
						
						p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
						p Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.
					.button-back
						button(data-fancybox-close) QUAY LẠI


