section.home-section-3#home-section-3
	.container
		h3.title THAM GIA TẠI ĐÂY
		.row
			form(action="#")
				.col-lg-6.col-md-12.content-left
					label(for="#") Tải ảnh tại đây*
					img.button-choose-file(src="./img/home/bg-chooes-file.png", alt="", srcset="")
					input#imgInp(type="file")
				.col-lg-6.col-md-12.content-right
					label(for="#") Nhập link video livestream của bạn
					input(type="text" placeholder="Nhập link của bạn...")
					label(for="#") Nhập link video của bạn (*không bắt buộc)
					input(type="text" placeholder="Nhập link của bạn...")
					textarea(name="", cols="30", rows="10" placeholder="Câu chuyện đường đua...")
				.your-info
					h5 THÔNG TIN CỦA BẠN
					.from-register
						.form-group.col-md-6
							input.name(type="text" placeholder="Họ Tên*")
						.form-group.col-md-6
							input.phone-number(type="text" placeholder="Điện thoại*")
							span.error Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic laborum quaerat mollitia amet, facilis deserunt sequi, eum deleniti, molestiae delectus molestias illo iure. Modi harum error corporis atque maxime eos.
						.form-group.col-md-6
							input.name(type="text" placeholder="Tên Xe*")
						.form-group.col-md-6
							input.phone-number(type="text" placeholder="Biển số xe*")
						.form-group.col-12
							input.email(type="text" placeholder="Email")
						.form-group.col-12
							input.address(type="text" placeholder="Địa chỉ")
						.form-group.col-12
							input#checkbox(type="checkbox")
							label(for="checkbox") Tôi đã đọc và hiểu 
								a(data-fancybox data-src="#provision-popup") nội quy của chương trình
						button NỘP BÀI DỰ THI