extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/banner/banner.pug
	include ../components/home/h-1/h-1.pug
	include ../components/home/h-2/h-2.pug
	include ../components/home/h-3/h-3.pug