extends _layout.pug

block var
	- var title = 'Bài viết chi tiết'
	- var bodyClass = 'item-detail-page'

block main
	section.item-detail
		.container
			.title
				span HÀNH TRÌNH CỦA:
				h3 PHAN GIA CÁT NHẬT LINH
			.row
				.col-lg-7.main-item
					figure
						.box-img
							img(src="./img/item-detail/item-01.png", alt="", srcset="")
						figcaption
							.date
								span 24/02/2020
							.icon-vote(data-vote='false')
								.heart-full BÌNH CHỌN
								//- .heart-nofull
							.number-vote
								p 50
								span Bình Chọn
					//- button(class="button-repair" data-fancybox data-src="#popup-inputCode") CHỈNH SỬA BÀI DỰ THI
					#popup-inputCode
						.box-content
							form(action="repair-post.html")
								h5 Nhận mã bài dự thi
								input(type="text" placeholder="Nhập mã code")
								button Xác Nhận
				.col-lg-5.list-same-item
					.same-item
						figure
							figcaption
								h5 VIDEO HÀNH TRÌNH
							.img-video
								#player_1(data-url='https://www.youtube.com/watch?v=KrrpHlb_pCA')
								a.start-video
									//- img(src="./img/icons/button_play_video.png", alt="", srcset="")
					.same-item
						.story-racetrack
							.title-story
								h3 Câu chuyện đường đua
								<div class="fb-share-button" data-href="http://drivingexperience.motulvietnam.com/danh-sach-bai-tham-du" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit repellat, magnam dolore inventore impedit corrupti? Sequi rem deleniti provident. Animi veritatis ab harum tenetur praesentium minus debitis illo tempore!
					//- .same-item
					//- 	figure
					//- 		figcaption
					//- 			h5 VIDEO HÀNH TRÌNH
					//- 		.img-video
					//- 			//- #player_2(data-url='https://www.youtube.com/watch?v=SqLuFLYiMLQ&t=2622s')
					//- 			//- a.start-video
					//- 			.fb-video(data-href="https://www.facebook.com/FengTimo.fans/videos/721431661627936/" data-width="500" data-show-text="false")
					//- 				//- blockquote(cite="https://www.facebook.com/FengTimo.fans/videos/721431661627936/" class="fb-xfbml-parse-ignore")
					//- 					//- a(href="https://developers.facebook.com/facebook/videos/10153231379946729/") How to Share With Just Friends
					//- 					//- 	p How to share with just friends.
					//- 					//- 	| Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
					a.back-page(href="list-item.html") QUAY LẠI