extends _layout.pug

block var
	- var title = 'Danh Sách Bài Viết'
	- var bodyClass = 'list-item-page'

block main
	section.list-item
		.container
			h3.title DANH SÁCH CÁC BÀI DỰ THI
			.row.list-post
				.col-md-6.item
					figure
						a(href="item-detail.html")
							.box-img
								img(src="./img/list-item/item-02.png", alt="", srcset="")
						figcaption
							.content
								h5 PHAN GIA CÁT NHẬT LINH
								span.date 24/02/2020
							.voted
								span 20
								.icon-vote(data-vote='true')
									.heart-full
									.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				.col-md-6.item
						figure
							a(href="item-detail.html")
								.box-img
									img(src="./img/list-item/item-02.png", alt="", srcset="")
							figcaption
								.content
									h5 PHAN GIA CÁT NHẬT LINH
									span.date 24/02/2020
								.voted
									span 20
									.icon-vote(data-vote='false')
										.heart-full
										.heart-nofull
				include ../components/pagination/pagination.pug