extends _layout.pug

block var
	- var title = 'Danh Sách Bài Viết'
	- var bodyClass = 'list-item-page'

block main
	section.list-item
		.container
			h3.title DANH SÁCH CÁC BÀI DỰ THI
			.row.list-post
				.col-md-6.item
					figure
						a(href="item-detail.html")
							.box-img
								img(src="./img/list-item/item-02.png", alt="", srcset="")
						figcaption
							.content
								h5 PHAN GIA CÁT NHẬT LINH
								span.date 24/02/2020
							.icon-vote(data-vote='false')
								.heart-full BÌNH CHỌN
							//- .heart-nofull
							.voted
								span 20
								span Bình Chọn
				include ../components/pagination/pagination.pug