section.home_banner
	.container-fluid
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
				.swiper-button-next.swiper-button-white
				.swiper-button-prev.swiper-button-white
				.swiper-pagination