section.home_banner
	.container-fluid
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						#video(data-url="https://www.youtube.com/watch?v=Xt97_PHftFo&list=RDXt97_PHftFo&start_radio=1")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
				.swiper-pagination