section.home_banner
	.container-fluid
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						.video-container(data-id="LAQDcnwwspQ")
							.video-foreground
								.video-iframe
								.video-play
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
				.swiper-pagination