section.home_banner
	.container-fluid
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
					.swiper-slide
						#video(data-url="https://www.youtube.com/watch?v=mXjU_Tu4TbI")
					.swiper-slide
						figure
							.box-img
								img(src="./img/home/home_banner.png", alt="", srcset="")
				.swiper-pagination
				.swiper-button-prev
				.swiper-button-next