section.about-competition
	.container
		.title-about
			h5 CUỘC THI:
			h3 “CHIA SẺ HÀNH TRÌNH, NHẬN VÉ ĐẾN ZHUHAI”
			p Tham gia cuộc thi để có cơ hội nhận được chiếc vé đặc biệt đến với chương trình
				|
				span “Motul driving experiences - Đường đua thực, trải nghiệm thực”. 
				| Motul tin chắc rằng anh/em sẽ có những những cảm xúc mãnh liệt và tuyệt vời nhất tại đường đua chuẩn quốc tế Zhuhai, Trung Quốc.