section.home-section-2#home-section-2
	.container
		.title-about
			h5 THỂ LỆ CUỘC THI:
			h3 “CHIA SẺ ĐAM MÊ,
				br
				| NHẬN VÉ ĐẾN MOTOGP 2019”
			p Giải đua xe moto hàng đầu thế giới – MotoGP sẽ chính thức diễn ra từ 01/11 – 03/11/2019 tại trường đua Sepang (Malaysia). Với sự quy tụ nhiều tay đua huyền thoại trong làng thể thao tốc độ, chặng đua lần này hứa hẹn sẽ cực kỳ sôi động bởi những màn tranh tài đỉnh cao và đầy mãn nhãn.
			p Nhằm tạo cơ hội để anh em đam mê tốc độ được trực tiếp trải nghiệm không khí hào hứng của chặng đua hấp dẫn này, Motul Vietnam tổ chức cuộc thi “CHIA SẺ ĐAM MÊ, NHẬN VÉ ĐẾN MOTOGP 2019” với những thông tin cụ thể như sau:
		.box-guide
			.title-guide
				h3 CÁCH THỨC THAM DỰ
			.desciption-guide
				h5.step Bước 1
				p Chia sẻ video thể hiện đam mê của bạn về xe máy, mô tô lên trang Facebook cá nhân ở chế độ công khai kèm hashtag #MotulVietnam #MotoGP2019 #SuperExperience.
				//- 	a(href="#") link
				//- img(src="./img/home/img-buoc1.jpg")
				h5.step Bước 2
				p - Bước 2: Truy cập vào <link> để đăng tải link video, một bức ảnh chụp chung giữa bạn và “chiến mã”, kèm lý do tại sao bạn muốn được trực tiếp theo dõi chặng đua MotoGP, cùng câu chuyện thể hiện sự đam mê về xe máy, mô tô. Sau đó chia sẻ để kêu gọi bình chọn bằng cách vote trực tiếp trên bài dự thi.
				p - Ngoài ra, để nhận thêm điểm từ BTC, người chơi hãy tham gia vào cộng đồng xe máy Motul Powersport: 
					a(href="#")
						| http://bit.ly/2Id28BW
				h3 Lưu ý:
				span + Video/clip có thể quay bằng điện thoại di động, máy chụp ảnh, máy quay phim hoặc flycam. Trường hợp video clip được quay bằng điện thoại phải quay màn hình ngang.
				span + Video/clip và hình ảnh phải đảm bảo rõ ràng.
				span + Mỗi người chơi có thể tham gia nhiều bài dự thi. Trong trường hợp nhiều bài dự thi có nội dung giống nhau, BTC sẽ chỉ công nhận bài dự thi được gửi sớm nhất.
				span + Video/clip nếu sử dụng nhạc dựng thì nhạc phải đảm bảo không vi phạm về bản quyền (có thể sử dụng kho nhạc youtube, các website nhạc miễn phí có bản quyền hoặc kho nhạc của các ứng dụng quay video…)
				span + Người dự thi chịu trách nhiệm về tất cả vấn đề bản quyền của các tư liệu được sử dụng trong clip đăng ký. Nếu có bất kỳ vấn đề nào về bản quyền khiến bài dự thi phải bị gỡ bỏ, ban tổ chức cuộc thi sẽ không chịu trách nhiệm.
				span + Tác giả chịu trách nhiệm về tính pháp lý và chi phí bản quyền âm nhạc, bản quyền tư liệu sử dụng trong video clip, nội dung của video clip dự thi, tính xác thực các thông tin được thể hiện trong clip và thông tin gửi cho Ban Tổ chức...
				span + Video/clip chưa từng đoạt giải trong bất kỳ cuộc thi video clip nào trước đây và hiện không tham gia trong bất kỳ cuộc thi video clip nào đang được tổ chức...
				span + Video/clip nếu có tiếng thì âm thanh phải rõ ràng dễ nghe.
				span + Video/clip dự thi phải đảm bảo tính thực tế, chân thật, văn minh và an toàn, không vi phạm thuần phong mỹ tục và pháp luật Việt Nam.
				span + Video/clip dự thi không được xuất hiện hình ảnh logo của các thương hiệu đối thủ trong cùng ngành hàng dầu nhớt.
				a.popupink(data-fancybox data-src="#provision-popup") THỂ LỆ CHI TIẾT CUỘC THI
				a.submit(href="#") THAM GIA NGAY