section.home-section-2#home-section-2
	.container
		.title-about
			h5 CUỘC THI:
			h3 “CHIA SẺ HÀNH TRÌNH, NHẬN VÉ ĐẾN ZHUHAI”
			p Tham gia cuộc thi để có cơ hội nhận được chiếc vé đặc biệt đến với chương trình
				|
				span “Motul driving experiences - Đường đua thực, trải nghiệm thực”. 
				| Motul tin chắc rằng anh/em sẽ có những những cảm xúc mãnh liệt và tuyệt vời nhất tại đường đua chuẩn quốc tế Zhuhai, Trung Quốc.
		.box-guide
			.title-guide
				h3 CÁCH THỨC THAM DỰ
			.desciption-guide
				h5.step Bước 1
				p Người chơi sẽ lái xe ô tô và sử dụng hệ thống định vị GPS trên xe của mình để vẽ ra hình dáng của đường đua Zhuhai. Trong đó, khoảng cách di chuyển tối thiểu là 4,319km và đi qua 14 khúc cua. (Xem cách thức vẽ hình bằng GPS.
				h5.step Bước 2
				p Livestream hoặc quay video quá trình di chuyển và chia sẻ về trang cá nhân với hashtag #Motul #Duongduathuc #Trainghiemthuc #Zhuhai. 
				h5.step Bước 3
				p Đăng tải bài dự thi tại website: 
					a(href="#") link 
					| và kêu gọi bình chọn bằng cách vote trực tiếp trên bài dự thi của từng cá nhân.
				h3 Ngoài ra, để nhận thêm điểm từ BTC người chơi hãy:
				span 1, Quay spanhim chia sẻ các cách bảo dưỡng và bảo trì ô tô ngay tại nhà
				span 2, Trở thành thành viên của cộng đồng Motul MotorSport, bằng cách nhắn theo dõi tại 
					a(href="#") link
				a.submit(href="#") THAM GIA NGAY