section.home-section-2#home-section-2
	.container
		.title-about
			h5 THỂ LỆ CUỘC THI:
			h3 “CHIA SẺ ĐAM MÊ,
				br
				| NHẬN VÉ ĐẾN MOTOGP 2019”
			p Giải đua xe moto hàng đầu thế giới – MotoGP sẽ chính thức diễn ra từ 01/11 – 03/11/2019 tại trường đua Sepang (Malaysia). Với sự quy tụ nhiều tay đua huyền thoại trong làng thể thao tốc độ, chặng đua lần này hứa hẹn sẽ cực kỳ sôi động bởi những màn tranh tài đỉnh cao và đầy mãn nhãn.
			p Nhằm tạo cơ hội để anh em đam mê tốc độ được trực tiếp trải nghiệm không khí hào hứng của chặng đua hấp dẫn này, Motul Vietnam tổ chức cuộc thi “CHIA SẺ ĐAM MÊ, NHẬN VÉ ĐẾN MOTOGP 2019” với những thông tin cụ thể như sau:
		.box-guide
			.title-guide
				h3 CÁCH THỨC THAM DỰ
			.desciption-guide
				h5.step Bước 1
				p Chia sẻ video thể hiện đam mê của bạn về xe máy, mô tô lên trang Facebook cá nhân ở chế độ công khai kèm hashtag #MotulVietnam #MotoGP2019 #SuperExperience.
				//- 	a(href="#") link
				//- img(src="./img/home/img-buoc1.jpg")
				h5.step Bước 2
				p - Bước 2: Truy cập vào <link> để đăng tải link video, một bức ảnh chụp chung giữa bạn và “chiến mã”, kèm lý do tại sao bạn muốn được trực tiếp theo dõi chặng đua MotoGP, cùng câu chuyện thể hiện sự đam mê về xe máy, mô tô. Sau đó chia sẻ để kêu gọi bình chọn bằng cách vote trực tiếp trên bài dự thi.
				p - Ngoài ra, để nhận thêm điểm từ BTC, người chơi hãy tham gia vào cộng đồng xe máy Motul Powersport: 
					a(href="#")
						| http://bit.ly/2Id28BW
				h3 Lưu ý:
				span + Video/clip có thể quay bằng điện thoại di động, máy chụp ảnh, máy quay phim hoặc flycam. Trường hợp video clip được quay bằng điện thoại phải quay màn hình ngang.
				span + Video/clip và hình ảnh phải đảm bảo rõ ràng.
				span + Mỗi người chơi có thể tham gia nhiều bài dự thi. Trong trường hợp nhiều bài dự thi có nội dung giống nhau, BTC sẽ chỉ công nhận bài dự thi được gửi sớm nhất.
				span + Video/clip nếu sử dụng nhạc dựng thì nhạc phải đảm bảo không vi phạm về bản quyền (có thể sử dụng kho nhạc youtube, các website nhạc miễn phí có bản quyền hoặc kho nhạc của các ứng dụng quay video…)
				span + Người dự thi chịu trách nhiệm về tất cả vấn đề bản quyền của các tư liệu được sử dụng trong clip đăng ký. Nếu có bất kỳ vấn đề nào về bản quyền khiến bài dự thi phải bị gỡ bỏ, ban tổ chức cuộc thi sẽ không chịu trách nhiệm.
				span + Tác giả chịu trách nhiệm về tính pháp lý và chi phí bản quyền âm nhạc, bản quyền tư liệu sử dụng trong video clip, nội dung của video clip dự thi, tính xác thực các thông tin được thể hiện trong clip và thông tin gửi cho Ban Tổ chức...
				span + Video/clip chưa từng đoạt giải trong bất kỳ cuộc thi video clip nào trước đây và hiện không tham gia trong bất kỳ cuộc thi video clip nào đang được tổ chức...
				span + Video/clip nếu có tiếng thì âm thanh phải rõ ràng dễ nghe.
				span + Video/clip dự thi phải đảm bảo tính thực tế, chân thật, văn minh và an toàn, không vi phạm thuần phong mỹ tục và pháp luật Việt Nam.
				span + Video/clip dự thi không được xuất hiện hình ảnh logo của các thương hiệu đối thủ trong cùng ngành hàng dầu nhớt.
				a.popupink(data-fancybox data-src="#provision-popup") THỂ LỆ CHI TIẾT CUỘC THI
				a.submit(href="#") THAM GIA NGAY
			#provision-popup
					h5.title-provision ĐIỀU KHOẢN KHI THAM GIA CUỘC THI
					.box-content
						.level-1 I. THÔNG TIN CHUNG
						.level-2 1. Đối tượng tham gia:
						.level-3 Các đối tượng được quyền tham gia:
						.level-4 - Là công dân nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam
						.level-4 - Từ 18 tuổi trở nên, có đầy đủ năng lực hành vi dân sự, sức khỏe tốt
						.level-4 - Hộ chiếu vẫn còn thời gian sử dụng tối thiểu 6 tháng
						.level-3 Các đối tượng không được quyền tham gia:
						.level-4 - Cán bộ, nhân viên của công ty Vilube – Motul
						.level-4 - Đối tác của Motul tham gia thực hiện chương trình
						.level-2 2. Thời gian:
						.level-4 - Thời hạn gửi sản phẩm dự thi & bình chọn trực tuyến: Từ ngày 24/09/2019 đến hết ngày 20/10/2019
						.level-4 - Thời gian Ban giám khảo chấm điểm: Ngày 21/10/2019
						.level-4 - Thời gian công bố kết quả dự kiến: Ngày 23/10/2019
						.level-4 - Kết quả cuộc thi sẽ được thông báo chính thức tại fanpage Motul Vietnam
						.level-1 II. Hệ thống giải thưởng
						.level-4 - 1 Giải đặc biệt: 1 vé đến Sepang (Maylaysia) để trực tiếp theo dõi chặng đua MotoGP 2019 dành cho người chơi có tổng số điểm cao nhất.
						.level-4 - 1 Giải Nhất: 1 đồng hồ Casio G-SHOCK Motul 300V dành cho 1 người chơi có điểm số cao kế tiếp
						.level-4 - 3 Giải khuyến khích: 3 bộ quà tặng Motul dành cho 3 người chơi may mắn nhất (quay số ngẫu nhiên theo thứ tự tham gia mà BTC công bố trước). Bộ quà tặng bao gồm: 1 bình 300V Factory Line, 1 bình Scooter Power LE, C4 Chain Lube Factory Line, 1 túi đeo chéo, 1 nón 300V2.
						.level-4 Lưu ý: Mỗi người chỉ nhận được 1 giải thưởng duy nhất
						.level-1 III. HỆ THỐNG THANG ĐIỂM VÀ TIÊU CHÍ CHẤM GIẢI:
						.level-2 1. Hệ thống thang điểm: Thang điểm cao nhất dành cho bài dự thi là 100 điểm bao gồm các hạng mục sau:
						.level-3 - Phần điểm từ BTC: tối đa 70 điểm
						.level-4 + Nội dung hấp dẫn, thu hút, thể hiện rõ niềm đam mê về xe máy, mô tô: 40 điểm
						.level-4 + Hình thức sáng tạo, mới lạ, thu hút: 30 điểm
						.level-3 - Phần điểm từ bình chọn: tối đa 20 điểm
						.level-4 + 5 người chơi có tổng lượt bình chọn từ vị trí 01 đến 05: 20 điểm
						.level-4 + 10 người chơi có tổng lượt bình chọn từ 06 đến 10: 10 điểm
						.level-3 - Phần điểm cộng thêm: tối đa 10 điểm
						.level-4 + Là fans cứng của fanpage Motul Vietnam: 5 điểm
						.level-4 + Là thành viên của cộng đồng xe máy Motul Powersport: 5 điểm
						.level-2 2. Tiêu chí chấm giải
						.level-4 - Về nội dung: Ban giám khảo đánh giá cao những bài dự thi có nội dung thể hiện rõ đam mê về xe máy, mô tô với nội dung sáng tạo, hấp dẫn.
						.level-4 - Về hình thức: Bên cạnh việc đảm bảo hình thức như yêu cầu phía trên, Ban giám khảo sẽ ưu tiên các tác phẩm có sự sáng tạo trong hình thức thể hiện về hình ảnh, bố cục, sắp xếp các phân cảnh, âm thanh, nhạc nền và hiệu ứng để thể hiện hiệu quả nhất nội dung của bài dự thi.
						.level-1 IV. CÁCH THỨC CÔNG BỐ VÀ TRAO GIẢI:
						.level-4 - BTC sẽ liên hệ trực tiếp với người thắng giải và xác nhận thông tin dự thi để trao giải.
						.level-4 - Trong trường hợp BTC không thể liên hệ với người thắng giải 03 lần, giải thưởng sẽ được thu hồi và BTC toàn quyền quyết định đối với giải thưởng.
						.level-4 - Khi đến nhận thưởng, người nhận giải cần phải xuất trình CMND và thông tin trùng khớp với dữ liệu đã đăng ký tại mẫu đơn của Ban Tổ chức.
						.level-4 - BTC sẽ chịu toàn bộ chi phí chuyển phát quà tặng nếu người thắng giải không thể đến nhận giải trực tiếp.
						.level-4 - Trong trường hợp người thắng giải không tới nhận giải thưởng trực tiếp mà ủy quyền cho người khác thì người được ủy quyền phải có giấy ủy quyền hợp lệ của người đoạt giải. (Giấy ủy quyền được xem là hợp lệ nếu có đầy đủ thông tin về họ tên, số CMND, địa chỉ liên hệ, điện thoại, chữ ký của người ủy quyền và phải được cơ quan địa phương có thẩm quyền xác nhận). Đồng thời, khi đến nhận giải, người ủy quyền cần xuất trình CMND của mình và của người thắng giải cho Ban tổ chức.
						.level-1 V. QUY ĐỊNH CHUNG
						.level-4 - Người tham gia phải tuân thủ theo các quy định và thể lệ của chương trình. Ban tổ chức có quyền quyết định hủy giải thưởng nếu thấy người thắng giải có dấu hiệu vi phạm theo quy định của chương trình. Quyết định của BTC là quyết định cuối cùng.
						.level-4 - BTC có quyền hủy kết quả thi hoặc hủy kết quả bình chọn của các thí sinh có dấu hiệu hoặc bị phát hiện các hành vi thiếu trung thực, gian lận trong quá trình dự thi (gian lận bầu chọn, thiếu trung thực trong nội dung).
						.level-4 - Người thắng giải có nghĩa vụ cung cấp đủ thông tin cũng như hỗ trợ thủ tục cho chuyến đi.
						.level-4 - BTC được quyền sử dụng các thông tin và hình ảnh do thành viên cung cấp khi đăng ký vào các mục đích quảng bá cho dịch vụ, sản phẩm của Motul.
						.level-4 - Giải thưởng không được quy đổi thành tiền mặt và chuyển nhượng cho người khác.
						.level-4 - Người trúng giải có nghĩa vụ đóng thuế thu nhập cá nhân (nếu có) cho các giải thưởng theo quy định hiện hành. Công ty sẽ là người thu và nộp hộ thuế cho người trúng giải theo quy định của pháp luật.
						.level-4 - Tất cả các khoản chi phí liên quan đến việc đến nhận giải do người nhận giải chịu.
						.level-4 - Ban tổ chức có quyền dừng, điều chỉnh hay thay đổi thể lệ và thời gian chương trình mà không báo trước. Nếu có bất kỳ thay đổi nào về thể lệ của chương trình, Ban tổ chức sẽ thông báo trên fanpage Motul Vietnam. 
						.level-4 - Ban tổ chức không chịu trách nhiệm trong trường hợp người trúng giải không nhận được giải thưởng hoặc các chi phí phát sinh do không cung cấp được các thông tin do Ban tổ chức yêu cầu hoặc thông tin cung cấp không chính xác.
						.level-4 - Trong trường hợp xảy ra tranh chấp liên quan đến chương trình này, Ban tổ chức sẽ có trách nhiệm trực tiếp giải quyết. Nếu không thỏa thuận được, tranh chấp sẽ được xử lý theo quy định của pháp luật Việt Nam. Theo quy định của pháp luật, Ban tổ chức có quyền chấm dứt hoặc huỷ chương trình này trong trường hợp bất khả kháng và sẽ thông báo công khai trên website.
					.button-back
						button(data-fancybox-close) QUAY LẠI


